{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% macro make_active(what) -%}
    {% if what %}
        active
    {% endif %}
{%- endmacro %}

{% block title -%}
    {%- if unread_paper_count -%}
        {{ unread_paper_count }} unread paper
        {%- if unread_paper_count > 1 -%}
            s
        {%- endif -%}&nbsp;-&nbsp;
    {%- endif -%} {{- cur_username -}}
{%- endblock %}

{% block body_content %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{% if cur_username == 'admin' -%}
                    {{ url_for('admin') }}
                {%- else -%}
                    {{ url_for('profile') }}
                {%- endif %}">
                    <i class="icon-book icon-white"></i> {% if cur_username %}
                                                            {{ cur_username }}
                                                         {% else %}
                                                            Paperlist
                                                         {% endif %}</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="{{ make_active(show_list_active) }}">
                            <a href="{{ url_for('show_list') }}">
                                <i class="icon-home icon-white"></i> Home
                                {% if unread_paper_count -%}
                                    <span class="label label-important">{{ unread_paper_count }}</span>
                                {%- endif %}
                            </a>
                        </li>
                        <li class="{{ make_active(upload_paper_active) }}">
                            <a href="{{ url_for('upload_paper') }}">
                                <i class="icon-upload icon-white"></i> Upload
                            </a>
                        </li>
                        <li class="{{ make_active(view_papers_active) }}">
                            <a href="{{ url_for('view_papers') }}">
                                <i class="icon-th-list icon-white"></i> Papers
                            </a>
                        </li>
                        <li class="{{ make_active(login_active) }}">
                            <a href="{{ url_for('login') }}">
                                <i class="icon-user icon-white"></i> Login
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}">
                                <i class="icon-off icon-white"></i> Logout
                            </a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

{% endblock %}

{% block bootstrap_js_bottom %}
    <footer class="footer" style="background-color: whiteSmoke; border-top: 1px solid #e5e5e5; color: #333; margin-top: 70px; padding: 70px 0; display: block;">
        <div class="container">
            <p class="">If you find any bug, please report it to
                <a href="https://github.com/mad4alcohol/Paliserver/issues">the issue tracker</a>.
            </p>
            <p>Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        </div>
    </footer>
    {{ super() }}
{% endblock %}

