{% extends "base.html" %}

{% if cur_username %}
    {% block block_username %}
        {{ cur_username }}
    {% endblock %}
{% endif %}

{% block body_content %}
    {{ super() }}

    <div class="container">
        <div class="hero-unit">
            <p class="">{{ banner_message }}</p>
        </div>

    {% if form %}
    <form class="form form-horizontal" method="post">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, "only") }}
        {{ wtf.horizontal_field(form.username) }}
        {{ wtf.horizontal_field(form.password) }}

        <div class="form-actions">
            <button name="action_save" type="submit" class="btn btn-primary btn-large">Login</button>
        </div>
    </form>
    {% endif %}
    </div>
{% endblock %}


