{% import "bootstrap_wtf.html" as wtf %}


{% macro make_forward_dialog(forward_form, cur_uid, id_name='paper_id', id_prefix='forward-dialog') -%}
    <div class="modal hide fade" id="{{ id_prefix }}" tabindex="-1"
         role="dialog" aria-labelledby="{{ id_prefix }}-label"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="{{ id_prefix }}-label">Who shall be forwarded to...</h3>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('forward_paper') }}" id="{{ id_prefix }}-form" method="post">
                <input type="hidden" name="{{ id_name }}" value="{{ _id }}"/>
                <input type="hidden" name="from_uid" value="{{ cur_uid }}"/>
                <ul class="nav nav-pills nav-stacked">
                    {% for field in forward_form.users_selected %}
                        {% set field_class = "hidden-checkbox" ~ field.id ~ "-" ~ id_prefix %}
                        {{ field(style="display: none;", class=field_class)|safe }}
                        <li><a class="checkbox-anchor" id="a{{ field.id }}-{{ id_prefix }}">
                            <i class="indicator icon-remove-sign" id="i{{ field.id }}-{{ id_prefix }}"></i>
                            {{ field.label(class="checkbox pull-right", style="")|safe }}
                        </a></li>
                    {% endfor %}
                </ul>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal"
                    aria-hidden="true" data-target="#{{ id_prefix }}">
                Close
            </button>
            <button class="btn btn-primary" data-dismiss="modal" id="{{ id_prefix }}-submit">
                Forward
            </button>
        </div>
    </div>
{%- endmacro %}

{% macro make_forward_dialog_button(_id, cur_uid, id_prefix='forward-dialog') -%}
    <button type="button" data-target="#{{ id_prefix }}" role="button" class="btn btn-small" data-toggle="modal"
            onclick="trigger_modal({{ _id }}, '{{ id_prefix }}', {{ cur_uid }});">
        <i class="icon-share-alt"></i>
    </button>
{%- endmacro %}

{% macro make_forward_dialog_js() -%}
    <script type="text/javascript">
        $('.checkbox-anchor').click(function (e) {
            var checkbox = $('.hidden-checkbox' + $(this).attr('id').substring(1));
            var i = $('#i' + $(this).attr('id').substring(1));

            checkbox.attr('checked', !checkbox.attr('checked'));
            if (checkbox.attr('checked')) {
                i.removeClass('icon-remove-sign');
                i.addClass('icon-ok-sign');
            } else {
                i.removeClass('icon-ok-sign');
                i.addClass('icon-remove-sign');
            }
        });

        var trigger_modal = function (_id, id_prefix, cur_uid) {
            var users_checkboxes = document.getElementById(id_prefix + "-form").users_selected;
            for (var i = 0; i < users_checkboxes.length; i++) {
                users_checkboxes[i].checked = false;
            }
            $('.checkbox-anchor a').each(function () {
                var i = $(this).find('i');
                if (i.hasClass('icon-ok-sign')) {
                    i.removeClass('icon-ok-sign');
                    i.addClass('icon-remove-sign');
                }
            }); // init the modal

            $('#' + id_prefix + "-submit").click(function (e) {
                post_form(id_prefix + '-form', _id, cur_uid);
            }); // set onclick
        };

        var post_form = function (form_id, _id, from_uid_) {
            var result = '';
            var users_checkboxes = document.getElementById(form_id).users_selected;
            var res_array = [];
            for (var i = 0; i < users_checkboxes.length - 1; i++) {
                if (users_checkboxes[i].checked) {
                    res_array.push(users_checkboxes[i].value);
                    result += users_checkboxes[i].value + ",";
                }
            }
            result = res_array.join(',');

            $.post('{{ url_for('forward_paper') }}', {
                selected_uid: result,
                paper_id: _id,
                from_uid: from_uid_
            }, function (e) {
                location.reload();
            });
        };
    </script>
{%- endmacro %}
