{% extends "base.html" %}

{% macro make_operation(pde_id, url_pfx, text, btn_class='') -%}
    <form id="{{ url_pfx }}-{{ pde_id }}" action="{{ url_pfx }}" method="post" style="display: inline;">
        <input type="hidden" name="pde_id" value="{{ pde_id }}"/>
        <button onclick="document.getElementById('{{ url_pfx }}-{{ pde_id }}').submit();"
           class="btn {{ btn_class }} btn-small">{{ text }}</button>
    </form>
{%- endmacro %}

{% macro make_avl_operations(pde_id, operations) -%}
    <div class="pull-right">
    {% for url_pfx, text, btn_cls in operations %}
        {{ make_operation(pde_id, url_pfx, text, btn_cls) }}
    {% endfor %}</div>
{%- endmacro %}

{% macro make_label(status_class, status_str) -%}
    {% if status_class %}
        {% set span_cls = ('label', status_class)|join('-') %}
    {% else %}
        {% set span_cls = '' %}
    {% endif %}
    <span class="label {{ span_cls }}">{{ status_str }}</span>
{%- endmacro %}

{% macro make_thead(from_or_to) -%}
    <thead><tr>
        <th>Date</th>
        <th>Status</th>
        <th>Title</th>
        <th>Author</th>
        <th>{{ from_or_to }}</th>
        <th class="pull-right">Available Operations</th>
    </tr></thead>
{%- endmacro %}

{% macro make_pde_trivial(pd_entity, username) -%}
    <td>{{ pd_entity.dispatch_date }}</td>
    <td>{{ make_label(pd_entity.status_class,
                      pd_entity.status_str) }}</td>
    <td>{{ pd_entity.paper.title }}</td>
    <td>{{ pd_entity.paper.author }}</td>
    <td>{{ username }}</td>
{%- endmacro %}

{% block body_content %}
    {{ super() }}

    <div class="container">
        <ul class="nav nav-tabs" id="tabs">
            <li class="active"><a href="#received" data-toggle="tab"><i class="icon-inbox"></i> Received</a></li>
            <li><a href="#forwarded" data-toggle="tab"><i class="icon-share"></i> Forwarded</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="received">
                {% if pd_entities_to %}
                    <div class="container"><h3>Papers that are forwarded to you</h3>
                        <table class="table table-hover">
                            {{ make_thead('From') }}
                            <tbody>
                                {% for pd_entity in pd_entities_to %}
                                    <tr>
                                        {{ make_pde_trivial(pd_entity,
                                                            pd_entity.from_user.username) }}
                                        <td>
                                            {% if pd_entity.status_str == 'Not Started' %}
                                                {% set read_btn_text = 'Read it now' %}
                                                {% set read_btn_class = 'btn-warning' %}
                                            {% elif pd_entity.status_str == 'Reading' %}
                                                {% set read_btn_text = 'Mark as finished' %}
                                                {% set read_btn_class = 'btn-success' %}
                                            {% else %}
                                                {% set read_btn_text = '' %}
                                                {% set read_btn_class = '' %}
                                            {% endif %}
                                            {% set operations = [('download', 'Download', ''),
                                                                 ('forward', 'Forward to', ''),
                                                                 ] %}
                                            {% if read_btn_text %}
                                                {% set operations = [('read', read_btn_text, read_btn_class)]
                                                                    + operations
                                                                    + [('withdraw', 'Refuse', 'btn-danger')]%}
                                            {% endif %}
                                            {{ make_avl_operations(pd_entity._id,
                                                                   operations) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="hero-unit">
                        <p class="lead">No paper-receiving record so far :)</p>
                    </div>
                {% endif %}
            </div>

            <div class="tab-pane" id="forwarded">
                {% if pd_entities_from %}
                <div class="container"><h3>Papers that you forward to others</h3>
                    <table class="table table-hover">
                        {{ make_thead('To') }}
                        <tbody>
                        {% for pd_entity in pd_entities_from %}
                            <tr>
                                {{ make_pde_trivial(pd_entity,
                                                    pd_entity.to_user.username) }}
                                <td>
                                    {{ make_avl_operations(pd_entity._id,
                                                           [('withdraw', 'Withdraw', 'btn-danger'),
                                                            ('hasten', 'Hasten this dispatch', '')]) }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <div class="hero-unit">
                        <p class="lead">No paper-forwarding record so far :)</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#tabs').find('a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    </script>
{% endblock %}
