{% extends "base.html" %}

{% macro make_alert(_id, text, class="alert-error", hide="hide") -%}
    <div id="{{ _id }}" class="alert {{ class }} fade in {{ hide }}" data-alert="alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        {{ text }}
    </div>
{%- endmacro %}

{% block body_content %}
    {{ super() }}

    <div class="container">
        <h3>To upload a new paper, please first fill in this form</h3>
        {{ make_alert("exist", "This paper already exists.") }}
        {{ make_alert("incomplete", "Incomplete form, please refill.") }}
        {{ make_alert("no-file-selected", "Incomplete form, please refill.") }}
        {% if error %}
            {{ make_alert("", error, "") }}
        {% endif %}
        {% if success %}
            {{ make_alert("", success, "alert-success", "") }}
        {% endif %}
        <form id="validate_paper" class="form form-horizontal"
              enctype="multipart/form-data"
              action="{{ url_for('upload_paper') }}" method="POST">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, "only") }}
            {{ wtf.horizontal_field(form.title) }}
            {{ wtf.horizontal_field(form.author) }}
            {{ wtf.horizontal_field(form.paper) }}
            <div class="form-actions">
                <button id="go" name="action_save" type="submit" class="btn btn-primary btn-large">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block bootstrap_js_bottom %}
    {{ super() }}

    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $('.alert-error .close').live('click', function () {
            $(this).parent().hide();
        });

        $(function () {
            $('button#go').bind('click', function () {
                $.getJSON($SCRIPT_ROOT + '/validate_paper', {
                    author: $('input[name="author"]').val(),
                    title: $('input[name="title"]').val()
                }, function (response) {
                    var resp = response['result'];
                    var alert = $('#' + resp);
                    if (resp == 'incomplete') {
                        alert.fadeIn();
                    } else if (resp == 'exist') {
                        alert.fadeIn();
                    } else {
                        if (!$('input:file').val()) {
                            $('#no-file-selected').fadeIn();
                        } else {
                            $('.form').submit();
                        }
                    }
                });
                return false;
            });
        });

    </script>
{% endblock %}

