{% extends "base.html" %}
{% import "button_proceed.html" as btn %}
{% import "modals.html" as modals %}

{% macro make_thead(heads) -%}
    <thead><tr>
        {% for head in heads %}
            <th>{{ head }}</th>
        {% endfor %}
        <th class="pull-right">Available Operations</th>
    </tr></thead>
{% endmacro %}

{% macro make_all_thead() -%}
    {{ make_thead(['ID', 'Upload Date', 'Fwd/Rdg/Rd', 'Title', 'Author', 'Uploader']) }}
{%- endmacro %}

{% macro make_my_thead() -%}
    {{ make_thead(['ID', 'Upload Date', 'Fwd/Rdg/Rd', 'Title', 'Author']) }}
{%- endmacro %}

{% macro make_tr_iterate(properties) -%}
    {% for prop in properties %}
        <td>{{ prop }}</td>
    {% endfor %}
{%- endmacro %}

{% macro make_all_paper_trivial(paper) -%}
    {{ make_tr_iterate([paper._id, paper.upload_date, paper.statistics|safe,
                        paper.title, paper.author, paper.uploader.username]) }}
{%- endmacro %}

{% macro make_my_paper_trivial(paper) -%}
    {{ make_tr_iterate([paper._id, paper.upload_date, paper.statistics|safe,
                        paper.title, paper.author]) }}
{%- endmacro %}


{% block body_content %}
    {{ super() }}

    <div class="container">
        <ul class="nav nav-tabs" id="tabs">
            <li class="active">
                <a href="#all" data-toggle="tab">
                    <i class="icon-th"></i> Paper Collection
                </a>
            </li>
            {% if paper_my %}
                <li class="">
                    <a href="#my" data-toggle="tab">
                        <i class="icon-tags"></i> Papers I uploaded
                    </a>
                </li>
            {% endif %}
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="all">
                <div class="container"><h3>These are all the papers we have here</h3>
                    <table class="table table-hover">
                        {{ make_all_thead() }}
                        <tbody>
                            {% for paper in paper_all %}
                                <tr>
                                    {{ make_all_paper_trivial(paper) }}
                                    <td>
                                        {% if logged_in %}
                                            <div class="pull-right">
                                                <div class="btn-group">
                                                    {{ btn.make_button('<i class="icon-download-alt"></i> '|safe,
                                                                           'download_paper', '',
                                                                           paper._id, [], "'get'", "'paper_id'") }}
                                                    {{ modals.make_forward_dialog_button(
                                                            paper._id,
                                                            cur_uid
                                                        ) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ modals.make_forward_dialog(forward_form, cur_uid) }}
                </div>
            </div>
            {% if logged_in %}
                <div class="tab-pane" id="my">
                    {% if paper_my %}
                        <div class="container"><h3>These are the papers you uploaded</h3>
                            <table class="table table-hover">
                                {{ make_my_thead() }}
                                <tbody>
                                    {% for paper in paper_my %}
                                        <tr>
                                            {{ make_my_paper_trivial(paper) }}
                                            <td>
                                                <div class="pull-right">
                                                    <div class="btn-group">
                                                        {{ btn.make_button('<i class="icon-download-alt"></i> '|safe,
                                                                           'download_paper', '',
                                                                           paper._id, [], "'get'", "'paper_id'") }}
                                                        {{ modals.make_forward_dialog_button(
                                                            paper._id, cur_uid, 'my-forward-dialog'
                                                        ) }}
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {{ modals.make_forward_dialog(forward_form,
                                                          cur_uid,
                                                          "paper_id",
                                                          'my-forward-dialog') }}
                        </div>
                    {% else %}
                        <div class="hero-unit">
                            <p class="lead">Seems you didn't uploaded any paper so far :(</p>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block bootstrap_js_bottom %}
    {{ super() }}

    {{ btn.make_button_js() }}
    {{ modals.make_forward_dialog_js() }}
{% endblock %}
